
button:focus {outline:none;}
button::-moz-focus-inner{
    border: 0;
}
.btn:focus{
    outline:none;
}
@media screen and (min-width : 320px){
  .btn-option{
          width:30px;
          height:30px;
        }
}
@media screen and (min-width: 768px){
        .btn-option{
          width:40px;
          height:40px;
        }
    }

    @media screen and  (min-width: 992px) { 
        .btn-option{
          width:40px;
          height:40px;
        }
    }
    /* Large devices (large desktops, 1200px and up) */
    @media screen and (min-width: 1200px) {
        .btn-option{
          width:50px;
          height:50px;
        }
    }

#piechart {
    position: absolute;
    right: 0;
    top:1%;
    border:none;
}

#piechart_switcher {
    position: absolute;
    right: 0;
    top:1%;
    width: 40px;
    height:40px;
}

#overlay_button {
    opacity: .9;
    position: absolute;
    top: 82%;
    left: 60%;
    width: 25%;
    height: 10%;
    font-size: 32px;
    color: #fff;
    padding: 15px;
}

#label1 {
    opacity: .9;
    position: absolute;
    top: 0%;
    left: 1%;
    width: 10%;
    font-size: 32px;
    color: #fff;
    padding: 15px;
}

#label2 {
    opacity: .9;
    position: absolute;
    top: 3%;
    left: 55%;
    width: 10%;
    font-size: 32px;
    color: #fff;
    padding: 15px;
}

@mixin setImage($image) {
    background: url($image) no-repeat;
    background-size: cover;
    cursor: pointer;
    border:none;
}

@mixin setImageHover($image_hover) {
    background: url($image_hover) no-repeat;
    background-size: cover;
    border:none;
}

@mixin setImageActive($image_active) {
    background: url($image_active) no-repeat;
    background-size: cover;
    border:none;
}

.switcher{
    @include setImage("../images/switcher.png");
}

.switcher:hover{
    @include setImageHover("../images/switcher_hover.png");
}

.damage {
    @include setImage("../images/damage.png");
}

.damage:hover {
    @include setImageHover("../images/damage_hover.png");
}

.damage:active {
    @include setImageActive("../images/damage_click.png");
}

.fine {
    @include setImage("../images/fine.png");
}

.fine:hover {
    @include setImageHover("../images/fine_hover.png");
}

.fine:active {
    @include setImageActive("../images/fine_click.png");
}

.unknown {
    @include setImage("../images/unknown.png");
}

.unknown:hover {
    @include setImageHover("../images/unknown_hover.png");
}

.unknown:active {
    @include setImageActive("../images/unknown_click.png");
}

.next {
    @include setImage("../images/next.png");
}

.next:hover {
    @include setImageHover("../images/next_hover.png");
}

.next:active {
    @include setImageActive("../images/next_click.png");
}

.modal-footer {
    border-top: 0px;
}

.modal.modal-wide {
    overflow: hidden;
}

.modal.modal-wide .modal-dialog {
    width: 94%;
}

.modal-wide .modal-body {
    overflow-y: auto;
}

@-webkit-keyframes ezCustTrans {
    0% {
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        transform-style: preserve-3d;
        -webkit-transform: perspective(600px) rotateY(-65deg) rotateX(-45deg) translateZ(-200px);
        -moz-transform: perspective(600px) rotateY(-65deg) rotateX(-45deg) translateZ(-200px);
        -ms-transform: perspective(600px) rotateY(-65deg) rotateX(-45deg) translateZ(-200px);
        transform: perspective(600px) rotateY(-65deg) rotateX(-45deg) translateZ(-200px);
        opacity: 0;
    }
    68% {
        -webkit-transform: rotateY(10deg) rotateX(10deg) translateZ(20px);
        -moz-transform: rotateY(10deg) rotateX(10deg) translateZ(20px);
        -ms-transform: rotateY(10deg) rotateX(10deg) translateZ(20px);
        transform: rotateY(10deg) rotateX(10deg) translateZ(20px);
        opacity: 0.8;
    }
    100% {
        -webkit-transform: rotateY(0deg) rotateX(0deg) translateZ(0px);
        -moz-transform: rotateY(0deg) rotateX(0deg) translateZ(0px);
        -ms-transform: rotateY(0deg) rotateX(0deg) translateZ(0px);
        transform: rotateY(0deg) rotateX(0deg) translateZ(0px);
        opacity: 1;
    }
}


@keyframes ezCustTrans {
    0% {
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        transform-style: preserve-3d;
        -webkit-transform: perspective(600px) rotateY(-65deg) rotateX(-45deg) translateZ(-200px);
        -moz-transform: perspective(600px) rotateY(-65deg) rotateX(-45deg) translateZ(-200px);
        -ms-transform: perspective(600px) rotateY(-65deg) rotateX(-45deg) translateZ(-200px);
        transform: perspective(600px) rotateY(-65deg) rotateX(-45deg) translateZ(-200px);
        opacity: 0;
    }
    68% {
        -webkit-transform: rotateY(10deg) rotateX(10deg) translateZ(20px);
        -moz-transform: rotateY(10deg) rotateX(10deg) translateZ(20px);
        -ms-transform: rotateY(10deg) rotateX(10deg) translateZ(20px);
        transform: rotateY(10deg) rotateX(10deg) translateZ(20px);
        opacity: 0.8;
    }
    100% {
        -webkit-transform: rotateY(0deg) rotateX(0deg) translateZ(0px);
        -moz-transform: rotateY(0deg) rotateX(0deg) translateZ(0px);
        -ms-transform: rotateY(0deg) rotateX(0deg) translateZ(0px);
        transform: rotateY(0deg) rotateX(0deg) translateZ(0px);
        opacity: 1;
    }
}


.ezCustTrans {
    -webkit-animation-duration: 0.75s;
    animation-duration: 0.75s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: ezCustTrans;
    animation-name: ezCustTrans;
}